@{
}

@model BooksViewModel 

<h1 class="font-weight-bold">Bookstore</h1>

@foreach (Book b in Model.Books)
{
    <h3 class="font-weight-bold font-color"><u>@b.Title</u></h3>

    <ul class="list-inline">
        <li class="list-inline-item">Author: @b.Author</li>
        <li class="list-inline-item">Publisher: @b.Publisher</li>
        <li class="list-inline-item">ISBN: @b.Isbn</li>
        <li class="list-inline-item">Classification: @b.Classification</li>
        <li class="list-inline-item">Genre: @b.Category</li>
        <li class="list-inline-item">Page Count: @b.PageCount</li>
        <li class="list-inline-item">Price: $@b.Price</li>
    </ul>

    <br />
}

<div page-model="@Model.PageInfo" page-action="Index"></div>